<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthtracker.earthquake">

    <application>
        <activity
            android:name=".EarthquakeActivity"
            android:exported="false" />
        <receiver
            android:name=".push.EarthquakePushReceiver"
            android:exported="false" />
    </application>

</manifest>